.editor {
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;

}

.input {
    padding: 50px;
    font-size: 54px;
    border: none;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    background-color: transparent;
}

.input::placeholder {
    color: #b3b3b1;
}

.textArea {
    width: 100%;
}

.button,
.addButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton {
    border-color: #1a8917;
}

.icons {
    font-size: 30px;
    color: rgb(11, 0, 75);
}

.add {
    display: flex;
    gap: 20px;
    background-color: var(--bg);
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 50px;

}

.publish {
    position: absolute;
    top: 140px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

.category-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;

}

.category-select option {
    background-color: #fff;
    color: #333;

}

.category-select:focus {
    box-shadow: 0px 0px 2px #00a7f5;
    outline: none;
}