.container {
    margin-top: 70px;
    width: 100%;
}

.title {
    font-size: 56px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

.post {
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.imgContainer {
    width: 50%;
    height: 500px;
    position: relative;
}

.textContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image {
    object-fit: contain;
}

.postTitle {
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.postDesc {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    color: var(--softTextColor);
    font-family: serif;
    font-family: 'DM Sans', sans-serif;
}

.button {
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    width: 120px;
    background-color: rgb(0, 0, 24);
    color: white;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
}

.button:hover {
    background-color: rgba(0, 0, 24, 0.726);
}

@media screen and (max-width:1280px) {
    .title {
        font-size: 50px;
    }

    .postTitle {
        font-size: 27px;
    }
}

@media screen and (max-width:1024px) {
    .title {
        font-size: 45px;
    }

    .postTitle {
        font-size: 24px;
    }

    .imgContainer {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .title {
        font-size: 40px;
    }

    .postTitle {
        font-size: 21px;
    }

    .textContainer {
        width: 100%;
    }
}

@media screen and (max-width:648px) {
    .title {
        font-size: 25px;
        text-align: center;
    }

    .postTitle {
        font-size: 19px;
    }

    .postDesc {
       width: 100%;
    }
}