.container {
   flex: 2;
   margin-top: 60px;
}

.title {
   font-size: 28px;
   font-family: 'DM Sans', sans-serif;
}

.subtitle {
   color: gray;
   font-size: 10px;
   font-weight: 400;

}

.categoryList {
   margin-top: 35px;
   margin-bottom: 60px;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.categoryItem {
   padding: 10px 25px;
   border-radius: 10px;
   font-size: 14px;
}

.categoryItem.style {
   background-color: #b8e6ff;
}

.categoryItem.coding {
   background-color: #ffd4c9;
}

.categoryItem.fashion {
   background-color: rgb(201, 255, 213);
}

.categoryItem.food {
   background-color: #e5beff;
}

.categoryItem.travel {
   background-color: #ffbede;
}

.categoryItem.culture {
   background-color: #ffcbbe;
}

@media screen and (max-width:1024px) {
   .container{
      display: none;
   }
}