.container {
   flex: 2;
   margin-top: 60px;
}

.subtitle {
   color: gray;
   font-size: 10px;
   font-weight: 400;

}

.title {
   font-size: 28px;
   font-family: 'DM Sans', sans-serif;
}

.items{
   margin-top: 30px;
   margin-bottom: 60px;
   display: flex;
   flex-direction: column;
   gap: 35px;
}

.item {
   display: flex;
   align-items: center;
   gap: 20px;
}

.image {
   border-radius: 50%;
   border: 3px solid lightgray;
   object-fit: cover;
}

.imageContainer {
   flex: 1;
   position: relative;
   aspect-ratio: 1/1;
}

.textContainer {
   flex: 4;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.category{
   padding: 3px 8px;
   border-radius: 10px;
   font-size: 12px;
   color: white;
   width: max-content;
   font-family: 'DM Sans', sans-serif;
}

.category.coding{
   background-color: #ff7857;
}
.category.fashion{
   background-color: rgb(18, 255, 69);
}
.category.food{
   background-color: #bc57ff;
}
.category.travel{
   background-color: #ff57ab;
}
.category.culture{
   background-color: #fd6039;
}

.posttitle {
   font-size: 16px;
   font-weight: 500;
   color: var(--softTextColor);
   font-family: 'DM Sans', sans-serif;
}

.detail{
   font-size: 12px;
}

.date{
   color: gray;
}